{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->
  <form action="{{ url_for('change_date') }}" method=post class=add-entry>
      <dl>
        <dt>Date:
        <dd><input type=date name=date value={{ date }}>
        <dd><input type=submit value=Change>
      </dl>
  </form>

  <form action="{{ url_for('update_data') }}" methods=post>
      <dl class=gray02>
          {% for entry in entries %}
          <dt>{{ entry.time.strftime("%H:%M") }}</dt>
          <dd>Worktype: <input type="text" name="worktype[]" placeholder={{ entry.worktype }} ><input type="hidden" name="_id[]" value={{ entry._id }}></dd>
          <dd>Comment:  <input type="text" size=50 name="comment[]" placeholder={{ entry.comment }} ></dd>
          {% else %}
          <dt>No entries.</dt>
          <dd>Please add some entries.</dd>
          {% endfor %}
      </dl>
      <input type=submit value=Update>
  </form>

  <!--<ul>-->
  <!--{% for entry in entries %}-->
    <!--<li><h2>{{ entry.time }}</h2>{{ entry.worktype }}-->
  <!--{% else %}-->
    <!--<li><em>No entries.</em>-->
  <!--{% endfor %}-->
  <!--</ul>-->
{% endblock %}